
<div class="flex-container">
<div class="flex-item">
<% if @booking.has_paid && @booking.traveller_id == current_user.id %>
    <h2>Review</h2>
<% else %>
    <h2>Editing Booking</h2>
<% end %>

<%= render 'form', booking: @booking %>

<%= link_to 'Show', @booking %> |
</div>
</div>