<%= render 'checklogin' %>

<h1>Upcoming tours</h1>

<div class="flex-container">
<% if @tours.count > 0 %>
  <% @tours.each do |tour| %>
    <div class="flex-item">
      <%= link_to tour_path(tour) do %>
          <%= render '/tours/tour', tour: tour %>
      <% end %>  
    </div>   
  <% end %>
<% else %>
  <p>No tours has been posted yet.</p>
<% end %>
</div>