/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 /* Root */
 * {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
}





/* Grid */
body {
    background: #4C4D77;
}
.wrapper {
    display: grid;
    grid-template-areas:
        "header"
         "main"
         "footer";
    max-width: 45em;
    margin: 0 auto;
}
header {
    grid-area: header;
    margin: 0;
} 
nav{
    margin: 0 auto 1em auto;
    text-align: center;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    display: grid;
    margin-top: 2em;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.flex-item {
    width: 19em;
    margin: 0.5em;
    padding: 1em;
    background: rgba(86, 204, 242, 0.3);
}




/* Heading */
h1 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1.5em;
    padding-bottom: 0.2em;
    line-height: 1.2em;
    color: #FCEE21;
    border-bottom: 0.1em solid #FDAD28;
}





/* Text */
strong {
    font-weight: 500;
}
.yellow {
    color: #FCEE21;
}
.blue {
    color: #56CCF2;
    border-top: 0.2em solid #56CCF2;
    border-bottom: 0.2em solid #56CCF2;
    padding: 0.2em;
}
.green {
    color: #6FCF97;
}
.orange {
    color: #FDAD28;
}






/* Link */
a, a:link, a:visited {
    color: #FCEE21;
    margin: 1em 0.3em;
    display: inline-grid;
    padding: 0.1em;
    margin: 0.2em;
    line-height: 1.3em;
}
a:hover {
    color: #FDAD28;
}
.profile-icon {
    float: right;
}
nav > a {
    text-decoration: none;
}
.noline {
    text-decoration: none !important;
}













/* Image */
img.logo {
    margin: 1em 0.2em 0.2em 0;
    float: left;
}
img.user {
    margin: 1.3em 0.9em 0.2em 0.2em;
    float: right;
}
.thumb {
    padding-bottom: 0.3em;
    float: left;
}








/* Form */
form {
    max-width: 35em;  
    margin: 0 auto; 
}
input, textarea, select {
    background-color: #FCEE21;
    border: 0;
    padding: 5px;
    margin: 0.3em 0 0.9em 0;
    color: #4F4F4F;
    width: 100%;
    font-size: 0.9em;
    font-weight: 400;
}
textarea {
    height: 100px;
}
input[type="checkbox"] {
    width: 1.5em;
}
input[type="submit"] {
    width: 10em;
    background: #FCEE21;
    border: 0;
    color: #4F4F4F;
    margin-top: 5px;
    text-align: center;  
    float: right;
    margin-left: 1em;
    border-radius: 0.5em;
}
input[type="submit"]:hover {
    background: #FDAD28;
    color: #4F4F4F;
}
.button {
    display: inline-block;
    background: #FCEE21 !important;
    border: 0;
    color: #4F4F4F !important;  
    padding: 0.5em 0.8em !important;
    text-decoration: none;
    border-radius: 0.5em;
    font-weight: 400;
}
.button:hover {
    background: #FDAD28 !important;   
}








/* Position */
.user-name {
    margin-top: 0.5em;
    color: #FCEE21;
    margin-right: 0.7em;
    text-align:center;
}
.right {
    float: right;
    text-align: center;
}
.left {
    float: left;
    text-align: center;
}
.center{
    text-align: center;
}




/* Alert */
#notice {
    color: #FDAD28;
  }
  
#alert {
    color: #FDAD28;
}

.field_with_errors {
padding: 2px;
background-color: red;
display: table;
}

#error_explanation {
width: 450px;
border: 2px solid red;
padding: 7px 7px 0;
margin-bottom: 20px;
background-color: #f0f0f0;
}
  